{
  "extends": [
    "eslint-config-egg",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "window": true,
    "localStorage": true,
    "document": true,
    "location": true,
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true
  },
  "rules": {
    "no-console": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "func-names": 0,
    "require-yield": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "class-methods-use-this": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/no-unknown-property": [1, { "ignore": ["class"] }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "parser": "babel-eslint"
}
